.footer {
    background-color: var(--main-color);
    padding: 15px 60px;
    min-height: 112px;
    text-align: center;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
    .footer {
        font-size: 1.3rem;
        justify-content: flex-start;
        padding-left: 98px;
        padding-right: 98px;
    }
}
